/* Apercu */
@font-face {
     font-family: 'Apercu';
     font-style: normal;
     font-weight: 300;
     src: url(/fonts/Apercu/Apercu Light.otf) format('opentype');
  }
  @font-face {
     font-family: 'Apercu';
     font-style: normal;
     font-weight: 400;
     src: url(/fonts/Apercu/Apercu_Regular.otf) format('opentype');
   }
  @font-face {
     font-family: 'Apercu';
     font-style: normal;
     font-weight: 500;
     src: url(/fonts/Apercu/Apercu_Medium.otf) format('opentype');
   }
  @font-face {
     font-family: 'Apercu';
     font-style: normal;
     font-weight: 700;
     src: url(/fonts/Apercu/Apercu_Bold.otf) format('opentype');
   }

/* NanumSquare */
@font-face {
     font-family: 'NanumSquare';
     src: url(/fonts/NanumSquare/NanumSquareLight.woff) format('woff');
     font-weight: 300;
}
@font-face {
     font-family: 'NanumSquare';
     src: url(/fonts/NanumSquare/NanumSquareRegular.woff) format('woff');
     font-weight: 400;
}
@font-face {
     font-family: 'NanumSquare';
     src: url(/fonts/NanumSquare/NanumSquareBold.woff) format('woff');
     font-weight: 700;
}
@font-face {
     font-family: 'NanumSquare';
     src: url(/fonts/NanumSquare/NanumSquareExtraBold.woff) format('woff');
     font-weight: 800;
}